[2016-03-17 16:53] dimitrijevic opened #2 "SimpleDemo UWP release not showing?"
Is it just me or is the OxyPlot in Release configuration of the SimpleDemo app on Universal Windows Platform not showing up?
It shows up fine in Debug?
TIA

EDIT: Looking at output, two System.IO.FileNotFoundExceptions are thrown trying to access some System.Private.Reflection.Core stuff, but probably caught as they don't cause the app to crash...my guess...something gets funky during .net optimiz

[2016-04-14 03:59] objorke opened #3 "Create OxyPlot.Xamarin NuGet package"
These packages could be combined in a `OxyPlot.Xamarin` package.

[2016-04-14 04:00] objorke commented on #3
When #21 is closed, I think both Android, iOS and Mac could be included in the same package.

[2016-05-20 16:29] scastria opened #6 "Missing constructor (IntPtr,JniHandleOwnership) in Android.PlotView"
Strange.  I just updated to XF 2.2 now that both OxyPlot and DevExpress supports it.  I ran into a new issue on Android.

My app needs to be able to tap on an OxyPlot and get plot objects that were tapped.  Since this isn't builtin, I extended PlotView like this:

[code]

I then implemented Renderers for both iOS and Android.  iOS renderer adds a TapGestureRecognizer and works fine.  However, my A

[2016-05-20 18:42] scastria commented on #6
After more investigation, this has nothing to do with XF 2.2. Still investigating...

[2016-05-20 18:58] scastria commented on #6
Maybe before I spend a lot of time debugging, I should ask:  "What is the best way to detect taps on plot objects in Xamarin.Forms?"

[2016-06-10 19:55] baverbud opened #9 "Increasing TitleFontSize on Axis overlaps the axis labels"
If I set TitleFontSize = 24 on the axis, the title overlaps the tick labels. At commit 24ac93a4cb8f71f996f17073bf57f9da44efd366. Using Xamarin.Forms on Android.

Xamarin.Forms version 2.2.0.45
Android SDK: 23 rev 3
Device: Motorola Nexus 6 running Android 6.0.

Sample code:

[code]

Example image attached.
![screenshot_20160610-125137](https://cloud.githubusercontent.com/assets/5534270/15976905/68

[2016-06-15 03:00] objorke commented on #9
I guess this is a general issue that could be posted at https://github.com/oxyplot/oxyplot/issues

[2016-06-23 13:17] andrii-borysov-me commented on #6
This issue must be fixed by upgrading to latest stable Xamarin platform - https://releases.xamarin.com/stable-release-cycle-7/.

[2016-07-05 04:06] alberk8 opened #11 "Error During Compile"
Hi,

I have OxyPlot.Xamarin.Andriod (v1.0.0-unstable1983) installed with OxyPlot.Core (v2015.1.708-alpha)

When I compile the sample code I get the following Error.  Please help.

Unable to resolve interface type 'OxyPlot.IPlotView'. Are you missing an assembly reference?

The element 'LinearLayout' has invalid child element 'OxyPlot.Xamarin.Android.PlotView'.

I am using Visual Studio 2015 Update

[2016-07-12 23:25] baverbud opened #12 "Xamarin.* nuget dependencies require Oxyplot.Core == 1.0.0"
Currently need to ignore dependencies to install the oxyplot xamarin packages. The dependency should instead match one of the Oxyplot.Core -unstable versions, since a 1.0.0 isn't available yet.

[2016-08-16 20:22] objorke opened #13 "Upgrade to Xamarin.Forms 2.3"
https://github.com/oxyplot/oxyplot-xamarin/blob/develop/Source/OxyPlot.Xamarin.Forms/packages.config
https://www.nuget.org/packages/Xamarin.Forms/

[2016-08-17 02:47] prajithmp commented on #13
do we have a new update soon ?

[2016-08-17 11:35] smitaA commented on #13
Do we have any updates to support for Xamarin.Forms 2.3 on Android?

[2016-08-17 17:41] MKahmen commented on #13
@prajithmp @smitaA
I figured out that it works when you just compile the right projects from this repo or reference the project.

Here's what to do (only in Xamarin.Forms.Android-Project, no need to touch the PCL or iOS):
- Use nuget to download Oxyplot.Xamarin.Android
- Reference these two DLLs or reference the projects from this repo:
  _OxyPlot.Xamarin.Forms.dll
  OxyPlot.Xamarin.Forms.Platform

[2016-08-18 04:02] prajithmp commented on #13
@MKahmen ,  i am able to compile the project without any errors now, but not able to deploy it to any android device or simulator.

its showing error deploy failed "There were deployment Errors. Do you want to Continue?"

why is this happening..

[2016-08-18 07:45] MKahmen commented on #13
@prajithmp you need to be more specific. check the log. If you're using Xamarin Studio just click on the error message to open it.

[2016-08-18 08:40] prajithmp commented on #13
@MKahmen  i am using visual studio, there is no error listed.  Only this message box appearing on deployment. that is why i got confused. let me check again...

[2016-08-18 08:41] MKahmen commented on #13
@prajithmp
Check the build and/or device log.

[2016-08-18 15:49] prajithmp commented on #13
@MKahmen i had some issue with the packages in existing project. when i tried in a new solution, its working fine.
thanks.

[2016-08-26 18:34] ahmedalejo commented on #6
You should just add the constructor, it´s a Mono issue where by it trys to reconstruct an object after it has been disposed/GC.

[code]

[2016-08-26 18:37] scastria commented on #6
I actually tried that, and then I got another error, and it kept leading me down a dark path.  I actually found a different way to solve this problem by using things that already exist in OxyPlot.

[2016-08-26 18:37] #6 closed, assigned to nobody

[2016-08-26 18:41] ahmedalejo commented on #6
Could you share such things that you used?

[2016-08-26 18:44] ahmedalejo commented on #6
Oh i think i get your point. You meant, use GestureListeners present in ``PlotModel` that totally makes sense.

Thanks for closing. -1 issue

[2016-08-26 18:51] scastria commented on #6
First I created my TapPlotView like this:

[code]

Then I created custom renderers, but actually ONLY needed one for iOS:

[code]

Then I used a TouchManipulator which is the thing I didn't know about when I first posted this thread:

[code]

Then in my application code where I create the plot view, I do this:

[code]

[2016-08-26 19:06] ahmedalejo commented on #6
Thanks a mil for sharing

And oh! for formatting your snippets, remember to put the csharp language hint for the markup

[code]

will generate something like the following

[code]

notice the syntax highlighting

[2016-08-26 20:12] scastria commented on #6
done

[2016-08-27 05:52] objorke commented on #6
Can #7 be updated with this solution?

[2016-08-27 05:55] objorke commented on #6
Did you still have to create a derived `PlotView`? I think this should be supported by default.

[2016-08-27 05:55] objorke commented on #6
ps. it is a bit difficult to follow discussions on closed issues.. :-)

[2016-08-29 13:25] ahmedalejo commented on #11
don´t know if you resolved your issue. If so? share your solution and close.

If not? please share you android layout file.

Obs: [OxyPlot.Xamarin.Andriod (v1.0.0-unstable1983)](https://www.nuget.org/packages/OxyPlot.Xamarin.Android/1.0.0-unstable1983) depends specifically on [OxyPlot.Core (= 1.0.0-unstable1983)](https://www.nuget.org/packages/OxyPlot.Core/1.0.0-unstable1983)

[2016-08-29 14:37] ahmedalejo opened #14 "Inconsistent versioning of nuget packages"
There´s a grave issue with the versioning after the package where moved to [MyGet] to show this

the latest version on [Nuget.org](Nuget.org)
[OxyPlot.Xamarin.Forms.1.0.0-unstable1983](https://www.nuget.org/packages/OxyPlot.Xamarin.Forms/1.0.0-unstable1983) was updated `Sunday, February 7, 2016`

while on [MyGet.org](MyGet.org) we have
 [OxyPlot.Xamarin.Forms.1.0.0-unstable0645]() updated on`Sat,

[2016-09-01 10:46] tkgdsg opened #15 "WindowsPhone8.1 Support"
I looked nuget definition file,
oxyplot-xamarin/Source/OxyPlot.Xamarin.Forms/OxyPlot.Xamarin.Forms.nuspec.

I could not find for wp81 platform.

% OxyPlot already supports wp80 , so I think it will be done just to add about wp81 platform description in *.nuspec file....  too optimistic?

[2016-09-01 10:53] tkgdsg opened #16 "OxyPlot.Xamarin.Forms nuget package does not include UWP platform."
OxyPlot already supports UWP platform, but nuspec file,
oxyplot-xamarin/Source/OxyPlot.Xamarin.Forms/OxyPlot.Xamarin.Forms.nuspec.
does not contain a description about UWP platform.

[2016-09-11 22:54] objorke commented on #13
OxyPlot.Xamarin.Forms.1.0.0-unstable0652 on myget should now support 2.3.1.114

[2016-09-11 22:55] objorke commented on #16
I tried to add it to the nuspec, but not sure if I got the monikers and target folders correct
Try the latest package from myget: OxyPlot.Xamarin.Forms.1.0.0-unstable0652

[2016-09-11 22:56] objorke commented on #14
Will unlist all prerelease packages on nuget.org!

[2016-09-11 22:57] objorke commented on #12
I have created a OxyPlot.Core v1.0.0 and updated the dependencies

[2016-09-12 15:15] MKahmen commented on #13
Thanks @objorke
works great!

[2016-09-13 03:12] prajithmp commented on #13
how can i install OxyPlot.Xamarin.Forms.1.0.0-unstable0652 to my Visual Studio (xamarin.forms) project , i cannot find in 'Manage Nuget Package' window.

[2016-09-13 08:13] MKahmen commented on #13
@prajithmp
It's not on Nuget. It's on myget. Get the repo from OxyPlots website and download the prerelease version via VS Package Manager.

[2016-09-13 20:10] objorke commented on #16
I tested it and the uap project does not work. Do we need a project.json file?

[2016-09-13 20:11] objorke opened #17 "This PlotModel is already in use by some other PlotView control"
See https://github.com/oxyplot/oxyplot/issues/948

[2016-09-13 20:12] objorke opened #18 "PointAnnotation TouchStarted is not working properly - Xamarin Forms"
See https://github.com/oxyplot/oxyplot/issues/806

[2016-09-13 20:13] objorke opened #19 "XAML examples shows on Android but not on iOS"
See https://github.com/oxyplot/oxyplot/issues/689

[2016-09-13 20:14] objorke opened #20 "Xamarin Android Column Series disappear on zooming in"
See https://github.com/oxyplot/oxyplot/issues/563

[2016-09-13 20:15] objorke opened #21 "CI for OxyPlot.Xamarin.Mac"
Using https://circleci.com/

[2016-09-13 20:16] objorke opened #22 "Crash on CGContextDrawImage while trying to render a Heat Map Series"
See https://github.com/oxyplot/oxyplot/issues/835

[2016-09-13 20:18] objorke opened #23 "Touch events for Android and iOS"
See https://github.com/oxyplot/oxyplot/issues/688

[2016-09-13 20:19] objorke opened #24 "Change default touch gesture for panning"
See https://github.com/oxyplot/oxyplot/issues/633

[2016-09-13 20:20] objorke opened #25 "Add "tap" support for touch-enabled platforms"
See https://github.com/oxyplot/oxyplot/issues/340

[2016-09-13 20:21] objorke opened #26 "Implement tracker on the iOS platform"
See https://github.com/oxyplot/oxyplot/issues/116

[2016-09-13 20:22] objorke opened #27 "Android example browser not working correctly"
See https://github.com/oxyplot/oxyplot/issues/673

[2016-09-13 20:23] objorke opened #28 "Android screenpoints are not in DP"
See https://github.com/oxyplot/oxyplot/issues/580

[2016-09-13 20:24] objorke opened #29 "AreaSeries crashes application when zooming in: OxyPlot.Xamarin.Android"
See https://github.com/oxyplot/oxyplot/issues/544

[2016-09-15 11:20] prajithmp commented on #13
@MKahmen
i could not find any myget repo for (OxyPlot.Xamarin.Forms) from oxyplots website. only i could find is oxyplot core repo https://www.myget.org/feed/oxyplot/package/nuget/OxyPlot.Core. please guide me.

[2016-09-15 11:21] MKahmen commented on #13
@prajithmp http://www.oxyplot.org/announcements/nuget-packages

[2016-09-16 15:05] pkoscierzynski opened #32 "MouseDown event does not fire on Xamarin Mac graph points"
I am trying to implement a handling clicks on points marked on the graph in Xamarin Mac application. However, the MouseDown event is never call when a point displayed on the graph is clicked.
The same code works fine on Windows version of the same application.

var pointAnnotation = new LineSeries
            {
                Title = GetYAxisName(graphType),
                StrokeThickness = 0,

[2016-09-21 10:08] gaminn opened #33 "How to install from nuget (UWP)"
Are there instructions how to install OxyPlot for Xamarin.Forms for UWP platform?

This is what I tried, without success:
I installed OxyPlot.Xamarin.Forms v1.0.0-unstable1983 to both portable and UWP project of my Xamarin.Forms solution. Then I tried to install OxyPlot.Windows v1.0.0 to UWP project of my Xamarin.Forms solution, but got this error:

[code]

[2016-09-23 04:52] clarkis117 commented on #2
@dimitrijevic  I'm trying on Xamarin forms and can't get it to show in debug until the window resizes

[2016-09-25 05:39] clarkis117 opened #34 "Plot doesn't display until Window resize on Xamarin.Forms UWP"
A possible bug with the Oxyplot for Windows UWP , PlotView interacting with the Xamarin.Forms View Renderer. The plot doesn't display until after the window resizes. After the window resizes the UWP canvas draws the plot.

[2016-10-06 20:44] #28 closed, assigned to nobody

[2016-10-11 18:38] scastria opened #42 "Setting up chart while invisible does not render when become visible"
I have a page that shows either a chart or a spreadsheet view.  The user can toggle between the two which just sets the chart visible and spreadsheet invisible or vice versa.  When the Xamarin.Forms page is first constructed and the chart plot model is built with LineSeries and stuff, everything works as long as the page is in chart mode with the chart being visible.  However, if the page is const

[2016-10-11 21:17] objorke commented on #42
yes, it should work like that. this must be a bug. What platform are you running on? iOS, Android, UWP, WinPhone?

[2016-10-11 21:18] scastria commented on #42
ios has the issue.  I just checked Android and it works correctly.  FYI: I am NOT directly setting IsVisible on the chart itself, but a parent view that contains the chart.  Not sure if that helps you.

[2016-10-11 21:18] objorke commented on #34
I have updated the Xamarin.Forms/SimpleDemo example for UWP, and see the same error there.

[2016-10-11 21:21] objorke commented on #2
maybe the PlotViewRenderer.Init() code is optimized away?

[2016-10-11 21:26] objorke commented on #13
The projects have been updated XF 2.3.2.127, this will be included in v1.0

[2016-10-11 21:26] #13 closed, assigned to objorke

[2016-10-11 21:26] #12 closed, assigned to objorke

[2016-10-11 21:28] objorke commented on #11
can we close this? the CI build is currently passing!

[2016-10-14 02:54] rbasniak opened #43 "Tons of errors on Resource.Designer.cs after adding OxyPlot to the project"
These the steps to reproduce it:

1 - Create a new Blank App (`Xamarin.Forms.Portable`) on VS 2015 Update 3 (`Xamarin 4.2.0.703` and `Xamarin.Android 7.0.1.3`)

2 - On Nuget Package Manager update `Xamarin.Forms` to latest version (currently `v2.3.3.152-pre2`)

3 - Run the application to confirm that everything is working.

4 - Back to Nuget, add a referente of `OxyPlot.Xamarin.Forms` to both my p

[2016-10-20 11:04] NPadrutt commented on #33
I uses for the uwp version of the App the package Oxyplot.Windows who has the version v2015.1.1033-alpha. This works so far for me.

[2016-10-20 17:08] hugoranito commented on #43
hi @rbasniak
same problem here. any solution for this?

[2016-10-20 23:24] rbasniak commented on #43
Hi @hugoranito, unfortunately not. Decided to put the project apart while this doesn't  get fixed, since it's the only decent and free charting library for Xamarin :(

[2016-10-22 01:58] clarkis117 commented on #34
@objorke okay I've been able to pin this bug down to a single point. It's actually in the Oxyplot.Windows project in the implementation of Windows.UI.Xaml.Controls.Control class for PlotView. More specifically, it is in the method override for ArrangedOverride(Size finalSize). The bug being that in a Xamarin Forms UWP project UpdateVisuals() is not being called until the Window is resized; whereas

[2016-10-27 20:44] OllieStrevel opened #44 "HeatMapRenderMethod enum missing"
Hello everybody!

I'm recently using OxyPlot in Xamarin iOS & Xamarin.Android, and I've downloaded the package via Nuget:
Package: **OxyPlot for Mobile Devices (Windows Store/Windows Phone/Android/iOS**
Identifier: **Oxyplot.Mobile**
Version: **2015.1.744-alpha**

I'm trying to run this example:
http://docs.oxyplot.org/en/latest/models/series/HeatMapSeries.html#example-linear-bitmap

BUT im gettin

[2016-10-28 23:32] clarkis117 commented on #34
From PR: I thinking one of the main problems is that the size parameter is only provided to the protected override Size ArrangeOverride(Size finalSize) method once, and in all my debugging it's only been 0 for both x and y thus causing UpdateVisuals() to not be called.

[2016-11-03 00:28] xuanxanhopera opened #45 "How to export graphs to PNG in Xamarin Android?"
In Android Oxyplot only support Export Graph to SVG or PDF, but I want to export graphs to PNG in Xamarin Android?
Have any ideas? Please help !
Thank!

[2016-11-04 10:27] clarkis117 commented on #34
@objorke It seems that in the Windows PlotView, when being invoked by the Xamarin.Forms Renderer, `PlotView.ActualHeight` and `PlotView.ActualWidth` are not set before the first arrange pass.

[2016-11-06 11:29] rafadorado commented on #43
Same here :-(

[2016-11-11 09:41] frost753 commented on #43
I have same problem, but temporary solution seems to be just comment out lines with errors in Resource.Designer.cs, project then can be build and charts are working.

[2016-12-16 15:33] sillerjp commented on #16
Hi,

I cannot find OxyPlot.Xamarin.Forms.Platform.UWP.PlotViewRenderer.Init(); in any library, when I install Oxyplot.XamarinForms to my projects, everything is installed correctly for iOS and Android but UWP project only installs this assembly. Where can I get the proper UWP assemblies?

Thanks,
Regards

[2016-12-21 13:13] paulocinf commented on #43
did anyone get to a solution? i'm having the same 151 errors

[2016-12-22 20:36] objorke commented on #43
sorry, I am not having time to look into this myself at the moment.

[2016-12-22 20:40] objorke commented on #44
OxyPlot.Mobile is outdated. The pre-release Xamarin packages are currently only available on myget.
They should all target OxyPlot.Core v1.0
There could be a dependency issue with the Xamarin packages, but there should not be an issue with the enum, I think.

[2016-12-22 20:45] objorke commented on #23
see also #25

[2016-12-22 20:46] #15 closed, assigned to nobody

[2017-01-04 04:50] JosephGarrone commented on #43
This issue is being caused by the Nuget package version mismatches.

Check [the Nuget page for OxyPlot.Xamarin.Forms](https://www.nuget.org/packages/OxyPlot.Xamarin.Forms) and you will see it requires:

However that version does not exist in Nuget, as seen for [OxyPlot.Core](https://www.nuget.org/packages/OxyPlot.Core/)

[This issue](https://github.com/oxyplot/oxyplot/issues/1041) is also related

[2017-01-04 14:59] j-monteiro commented on #17
I have exactly the same problem :/ i'm currently trying to find a workaround by setting the Model property of the PlotView to null when i leave the tab and create a new instance of the model when I go back to the first tab. Setting the Model property to null makes the crash disapear but now i'm having problems to create the model again... either way this is a awful way to implement this :s more id

[2017-01-04 15:55] j-monteiro commented on #43
@JosephGarrone it does exist (but don't know were it is really xD). I was also confused when adding the nugets, but when i searched for pre release packages i found the "Oxyplot.Xamarin.Forms 1.0.0-unstable1983" (the one you've posted), i installed that package and the Oxyplot.Core 1.0.0-unstable1983 was automatically installed, the package manager did the job for me, just don't install the Oxyplo

[2017-01-04 23:02] JosephGarrone commented on #43
@j-monteiro I just installed from the [MyGet Feed](https://www.myget.org/feed/oxyplot/package/nuget/OxyPlot.Core). You will notice in the versions listed there that there is no unstable1983, and if you look at [OxyPlot.Xamarin.Forms](https://www.myget.org/feed/oxyplot/package/nuget/OxyPlot.Xamarin.Forms), it is only up to unstable0680.

[2017-01-05 01:12] j-monteiro commented on #43
@JosephGarrone sorry if I'm not understanding the situation correctly. The thing is that I have the "Oxyplot.Core 1.0.0-unstable1983" in my project, with "OxyPlot.Xamarin.Forms 1.0.0-unstable1983"
<img width="353" alt="captura de ecra 2017-01-05 as 00 58 44" src="https://cloud.githubusercontent.com/assets/15830093/21665151/e00679ca-d2e2-11e6-8c8f-1dc446954594.png">

[2017-01-05 01:13] JosephGarrone commented on #43
@j-monteiro The issue is that whilst that might be the version you have installed, its not properly accessible via NuGet/MyGet due to mismatched versioning dependencies. And if you check my links, you will see that that version doesn't actually exist presently.

[2017-01-05 01:17] j-monteiro commented on #43
@JosephGarrone the MyGet link you've posted it's not opening here :s but yes, I can't find this version anywere, it was simply installed in conjunction whith the "OxyPlot.Xamarin.Forms 1.0.0-unstable1983" installation.

[2017-01-05 02:05] JosephGarrone commented on #43
Yeh I think it's only an issue for existing installs where NuGet fails to remove the existing packages :(.

Here are the relevant parts of the links:

![image](https://cloud.githubusercontent.com/assets/4310797/21666696/1a633fca-d33f-11e6-93fa-e9db570db551.png)
![image](https://cloud.githubusercontent.com/assets/4310797/21666716/365c0f5e-d33f-11e6-8c82-2e881911e236.png)
![image](https://cloud.gith

[2017-01-05 11:09] j-monteiro commented on #17
So, the only way I found to plot a pie in a tabbed page  was to forget the binding in Xaml and do it all in code behind with the plot model in the VM. In code beind I registered to the tab change event and the VM property changed event so that I could set the plot model to null every time I go to the third tab, constructing it again. Its also required to set the Model property of the PlotView to n

[2017-01-08 17:21] objorke opened #49 "Remove MonoMac project"
Deprecated: https://github.com/mono/monomac

[2017-01-08 17:22] objorke opened #50 "Remove MonoTouch project"
Focus on Xamarin.iOS!
https://developer.xamarin.com/releases/ios/

[2017-01-08 17:38] #50 closed, assigned to nobody

[2017-01-08 17:55] objorke commented on #33
I pushed `OxyPlot.Xamarin.Forms.1.1.0-unstable0011` to nuget.org
I will update the docs - it seems to work on my machine now!
http://docs.oxyplot.org/en/latest/getting-started/hello-xamarin-forms.html

[2017-01-08 17:55] objorke commented on #33
@gaminn Can we close this issue?

[2017-01-08 17:56] objorke commented on #34
This should be solved in OxyPlot.Xamarin.Forms.1.1.0-unstable0011 (nuget.org)

[2017-01-08 17:56] objorke commented on #34
@clarkis117 can we close this issue?

[2017-01-08 17:57] objorke commented on #43
Can you try again with OxyPlot.Xamarin.Forms.1.1.0-unstable0011 (nuget.org)
It seems to work from here

[2017-01-08 17:57] objorke commented on #43
@rbasniak can we close this issue?

[2017-01-08 18:00] objorke commented on #16
This should be solved in OxyPlot.Xamarin.Forms.1.1.0-unstable0011

[2017-01-08 18:00] #16 closed, assigned to objorke

[2017-01-08 18:06] #11 closed, assigned to nobody

[2017-01-20 12:25] Meurth commented on #11
the element linearlayout has invalid child element oxyplot.xamarinandroid.plotview

wtf is going on? Why does NOBODY seem to have the same issue?

[2017-01-20 13:08] alberk8 commented on #11
Hi,

I have long abandon using this.  Nobody seems to care.  Try this, its free also and at least there is support a bit slow but they do answer every questions.   It is free even for commercial use as long as you fall within the revenue range and developer size.  It's a fair deal.
www.syncfusion.com

[2017-01-20 13:44] Meurth commented on #11
thanks alberk8, I'll look into that

[2017-01-27 21:26] dimitrijevic commented on #34
@clarkis117 I personally haven't had trouble with pie charts showing up in debug mode upon loading, resizing or not...but I've tried to build my UWP app in release mode and unfortunately I'm still not getting it to show up although it shows the pie chart just fine in debug (with 1.1.0-unstable0011 too)...if anyone was able to build it in release and then show up could you share any runtime directi

[2017-02-02 11:52] scheidtdav opened #52 "Missing ticks and tick labels on DateTimeAxis"
Hey everybody!

I'm having a weird issue with ticks and tick labels on a DateTimeAxis.
With most of the data everything is working fine, but with some data neither ticks nor labels are rendered although its the same code. No errors whatsoever.

I'm using the 1.0.0 release NuGet package on Xamarin.Forms 2.3.3.180.

If it helps anything here is a data set that does not render correctly:
[0]	{42747,5

[2017-02-06 22:00] objorke commented on #34
sorry, I can´t contribute on this issue at the moment!
Is it too early to support XamarinForms/UWP?

[2017-02-06 22:02] objorke commented on #52
thanks for including code to reproduce the problem!
if this is a problem on all platforms, it would be better to add the issue to https://github.com/oxyplot/oxyplot

[2017-02-09 15:39] scheidtdav commented on #52
I'm not sure if this reproduceable on all platforms but I'll try reproducing it as soon as I find the time to.
However I will not be able to test it on iOS. I don't own an iDevice.

Thanks for you support so far :)

[2017-02-27 13:43] dimitrijevic commented on #34
Credits here go to @MattWhilden
Ok, I understood, Xamarin.Forms was faulting...at least according to...doing the following debug steps:

1. Run the SimpleDemo.UWP which uses Xamarin.Forms OxyPlot in Debug version, and the plot shows up, then run it in Release and it doesn't.
2. Then switch back to Debug mode, but enable .NET Native, and enable exceptions...
3. As it turns out the exception that tu

[2017-02-28 01:07] MattWhilden commented on #34
For those keeping track at home, and like to connect all the dots, there's a very similar looking issue on the Xamarin.Forms Bugzilla: https://bugzilla.xamarin.com/show_bug.cgi?id=52482

I'm working on tracking down some Xamarin folks internally, I'll try to keep y'all updated but definitely feel free to ping me if you think I've disappeared for too long. I don't mind. :-)

[2017-02-28 01:13] MattWhilden commented on #34
Oh man, this seems like it might be a workaround: https://developer.xamarin.com/guides/xamarin-forms/platform-features/windows/installation/universal/#troubleshooting

[2017-03-01 14:28] dimitrijevic commented on #34
But how do you use a workaround on this project...since clrcompression is not a .NET assembly and you don't know from the error which usually follows with missing metadata output for which class in what assembly is being used (so I feel it's to no avail to try this workaround on this particular project for some reason except by trying to guess the classes:)...I've used the workaround though on som

[2017-03-01 14:44] dimitrijevic commented on #34
Because I've just tried about all an every class I could think of for OxyPlot to find in which assembly if fails...since we're loading an `OxyPlot.Xamarin.Forms` assemblies just adding all the classes bellow used in the SimpleDemo above the line `OxyPlot.Xamarin.Forms.Platform.UWP.PlotViewRenderer.Init();` should be enough:

but I still get the same exception, maybe it's just me :(

[2017-03-01 15:08] dimitrijevic commented on #34
Nevermind, call me blind, I've missed one class somehow:

Adding all of the above (including OxyPlot.Windows.PlotView beside the OxyPlot.Xamarin.Forms.PlotView) to the assemblies to include shows the SimpleDemo chart in Release for me now (I'm sorry for being a dumbass and thanks again @MattWhilden)...now I'll try and add UWP to my project using some other plot types (although I suspect these five

[2017-03-02 01:07] MattWhilden commented on #34
Fantastic news! I am very happy to hear you are unblocked.

Patterns that cause looser coupling in your program (ex: dependency injection) are great for flexibility but definitely cause us headaches when we're trying to make various engineering trade offs. This is a great example: if we roll all of your code into one big native binary we see decent startup and working set wins that benefit everyon

[2017-03-06 08:39] objorke opened #54 "fix bitrise.io build"

[2017-03-06 10:56] flyingxu commented on #17
I'm having the same issue in Xamarin.Android.

I use a PlotView inside a Fragment (there are 3 Fragments all together inside a tab) , when I slide to the other tabs and then slide back, I have this error.

I think Android is caching fragments and recreating them when sliding back, so the view is re-created and tries to re-bind the model and view.

Edit:
I think I find a solution for my case: I use

[2017-03-06 18:31] dimitrijevic commented on #2
Thanks to @mattwhilden and @objorke, this issue has been found to have a workaround https://github.com/oxyplot/oxyplot-xamarin/pull/53 and you can publish UWP apps to the store with OxyPlot.Xamarin as http://smarturl.it/ScolioMetro

[2017-03-06 18:31] #2 closed, assigned to nobody

[2017-03-06 19:13] MattWhilden commented on #2
Fantastic news. Do let us know if you have any other issues/comments with .NET Native/UWP stuff (dotnetnative@microsoft.com). Very happy to be able to help out.

[2017-03-09 13:21] dimitrijevic commented on #54
Tried to setup secondary workflow, removing the certificate signing, and got the, missing 'OxyPlot.Core', concretely:

 (it exists, thus, maybe it's them, I'll upgrade nuget step, but I have to rebuild...how much build mins you've got? 200x10min/bld might not go a long way with me learning to set bitrise.io up by trial and error @objorke :)

[2017-03-09 13:45] dimitrijevic commented on #54
Here's some further known issues, which as I suspected, may just indicate, bitrise.io's fault: https://github.com/bitrise-steplib/steps-nuget-restore/issues/15
I'll could try that cache workaround...but...if I can rebuild then, is certification step really important to you?
I was looking at the apple developer account I've got access to, and I've got no certificates for mac development there (if t

[2017-03-09 13:55] dimitrijevic commented on #54
It didn't work with the upgraded nuget restore step (from 0.9.3 to 1.0.3), so either they've got issues restoring OxyPlot.Core and/or it's something in the nuget itself (but I can find it) ... I'll take a look at the cache:pull/push steps although adding caches to an automated build instead of trying to get the currently referenced nuget might just defeat the purpose of CI...

[2017-03-13 10:30] ghost opened #55 "Change plot Actual size"
Hi! I'm using oxyplot in xamarin.android and the screen is too small to contain the plot.
is there any way I can fix it?

[2017-03-13 13:51] #55 closed, assigned to nobody

[2017-03-13 16:40] kayle opened #56 "ToCGColor() should use sRGB colorspace on iOS"
Currently I see a different color on iOS 10 if I use the same hex background color for a chart as another control on the page (e.g. "#25373E"). Using the Srgb color space seems to fix the issue for me.

[code]

[2017-03-28 06:10] chaselal opened #57 "AbsoluteMinimum AbsoluteMaximum AreaSeries different behavior on Android and iOS Xamarin Forms"
### Steps to reproduce
Sample solution: https://drive.google.com/file/d/0B8YvbPIswXQ4aklmYU0xaXR1Yjg/view?usp=sharing

The gist is to plot an `AreaSeries` that has endpoints defined outside of the X-axis's minimum and maximum values. If `AbsoluteMinimum` and `AbsoluteMaximum` are set on the X-axis, then the series will be filled on iOS, but not on Android.

1. Create a plot with a `TimeSpanAxis` a

[2017-04-12 14:45] charlesroddie opened #58 "Is Windows 8.1 supported?"
Is there an intention to support Windows 8.1 from Xamarin Forms? Unfortunately we are stuck on Windows 8.1 for the time being.
The software on here currently has a Windows 8.1 project but doesn't have any OxyPlot references and so fails when run.
Just asking for information. Thanks.

[2017-04-17 09:17] objorke commented on #58
The current intention is to support iOS, Android and UWP on Xamarin Forms.

There is Windows 8 code at
https://github.com/oxyplot/oxyplot/tree/develop/Source/OxyPlot.Windows8

[2017-04-19 21:57] #58 closed, assigned to nobody

[2017-04-27 10:49] JimSEOW commented on #34
using the latest _OxyPlot.Xamarin.Forms.1.1.0-unstable0011_ (nuget.org) when using (Microsoft Practices Unity)

In Debug Mode (NOT in Release Mode):
Following the [guide ](https://www.codeproject.com/Articles/1167724/Using-OxyPlot-with-Xamarin-Forms) here work  for UWP.

`OxyPlot.Xamarin.Forms.Platform.UWP.PlotViewRenderer.Init();`

To get it works in Release Mode.

The following extra codes are n

[2017-04-28 11:21] sreekarsudireddy commented on #2
OxyPlot graphs in Windows Forms UWP not visible until windows resize(Orientation changed).

[2017-05-30 09:12] prakashshaiva opened #59 "Is there any way to use Tracker in Xamarin.iOS platform?"
Is there any way to use Tracker in Xamarin.iOS platform?

[2017-06-01 03:25] flyingxu commented on #17
There is another way to reproduce this issue when there are only one Model and one View. When the phone is **rotated** from portrait to landscape, Android will re-create the view. If MVVM is used, the model has not re-created then this issue arises.

[2017-06-10 05:03] naveeng2228 opened #60 "Bar chart inside a ListView control"
### Steps to reproduce

1. Add a ListView to your ContentPage.
2. Create a list of PlotModels to your page for binding to the ListView.
3. Now use a Template/ ViewCell having PlotView to the ListView.

Platform: Xamarin Forms (Cross-Platform)
.NET version: 4.0

### Expected behaviour

While loading the ContentPage, the ListView should load the data based on the PlotModels provided.

### Actual beh

[2017-06-10 05:06] naveeng2228 opened #61 "Unable to scroll page when adding OxyPlot to ContentPage"
### Steps to reproduce

1. Create a cross-platform (Xamarin Pages) project in VS 2015 with 4.0 Framework.
2. Now add multiple charts to your ContentPage. And Add guester listeners to few charts.
3. Now try to launch your app on IOS devices either Iphone or Ipad.
4. Now try to scroll the page.
5. At-least try to perform tap on the charts those are having tap guster listeners.

Platform: Xamarin.For

[2017-06-11 05:35] flyingxu commented on #60
This is a very common issue of OxyPlot when it's used in MVVM.
In OxyPlot, the view and the model are 1-to-1 mapped, when a second view is trying to bind the same PlotModel, you have the issue of "PlotModel is already in use by some other PlotView control".
On iOS, ListView's cell will be re-created when it is scrolling. In this case, there will be a newly created view trying to bind the same Plot

[2017-06-14 07:56] NeilMalcolm commented on #61
Having this issue also.

I have a handful of PlotModels in a Grid, which is contained within a scrollview. On Android, this works perfectly well, as said by naveeng2228. But on iOS, Scrolling can only be achieved by interacting with non-oxyplot elements of the UI, such as boxviews, blank spaces, etc.

However, I can interact with PlotModels using TouchStarted, TouchDelta, TouchCompleted..

[2017-06-19 22:18] fschwiet commented on #60
iOS had a recent regression where ListViews on iOS were instantiating views for listview elements too much, this may help you: https://bugzilla.xamarin.com/show_bug.cgi?id=56896

Note that the ListView implementation may still instantiate a view multiple times if it needs to estimate the height.  But once the issue is fixed (or if you use an earlier version of forms) you should be able to suppress

[2017-06-19 22:19] fschwiet commented on #60
FWIW now I'm butting into the same issue when using OxyPlot in a carouselview (https://github.com/alexrainman/CarouselView).

[2017-06-27 07:23] Nuada26 opened #62 "Pan and Zoom not working"
Hi all,

I have a problem with my plotview in Xamarin forms, i see it but when i try to pan or zomm on it, it's not work.

This is my code in C#:
[code]

And this is View on XAML:
[code]
Any idea for resolve that?

Thanks in advance

[2017-06-27 07:35] leedjones opened #63 "Charts dont display on Xamarin Forms UWP"
### Steps to reproduce

1. Create a new Xamarin Forms Blank App
2. Add OxyPlot libraries via Nuget (Oxyplot.Xamarin.Forms) as per documentation
3. Add initialization code to each project as per the documentation
4. Generate a graph data using the code behind and bind to it in the XAML. e.g.

[code]

[code]

5. Run the UWP version of the application

Platform: Xamarin Forms UWP
.NET version:

### E

[2017-06-29 10:56] frndxyz opened #64 "Renderer not initialized"
IOS 10.3
Xamarin Forms 2.3.4.247

design view show this error;

![screen shot 2017-06-29 at 4 25 06 pm](https://user-images.githubusercontent.com/6427428/27684425-94b93fe0-5ce7-11e7-8a52-a47310500e4f.png)

i have already placed initialization line in appdelegate.cs

[code]

[2017-06-30 14:39] lionelmennig commented on #2
@sreekarsudireddy I can confirm this one. Did you find any way/trick to fix it ?

[2017-07-05 07:10] sreekarsudireddy commented on #2
@leeyo We were able to get the OxyPlot chart to be displayed in UWP without any issue if the chart is the only child of the containing parent page (for ex. ContentPage).

But if the ContentPage has children other then the graph, the graph fails to show up on the first load (unless the screen orientation changes).

[2017-07-05 07:26] lionelmennig commented on #2
@sreekarsudireddy This point about the parent is good to know, but couldn't help in my case. :( Did you try some logical size/orientation change from code to see if it fixes it on launch ?

[2017-07-05 12:36] sreekarsudireddy commented on #2
@leeyo We tried something similar but failed to achieve the desired result on page load. But we had a situation where we got a picker(dropdown) just above the chart. The chart shows up when we expanded the picker.

By this, we understood that any change event will trigger the update event of the chart. So finally, we moved to Telerik Controls.

[2017-07-10 12:44] joa77 opened #65 "Is the Xamarin.Mac port still supported?"
I'm wondering wether the Xamarin.Mac port is still supported, because the NuGet Package is not updated since 2015 an marked as deprecated.

[2017-07-10 14:45] lionelmennig commented on #2
@sreekarsudireddy After some research, I figured out that this bug was fixed on v1.1.0-unstable0011. :) Btw I'm having troubles on iOS aswell when charts are disposed in a listview (only rendering "screen visible rows" charts and reusing these charts (!) for below rows).

[2017-07-17 08:39] HEFRNicolas commented on #56
I'm also having trouble with colours on iOS. In my case I've set the background of my layout to the same colour of one of my pie slices, but it looks like the pie slice is a bit lighter.
![screen shot 2017-07-17 at 10 06 05](https://user-images.githubusercontent.com/30228586/28259665-a4dcf9a4-6ad7-11e7-847c-5ae081fb5032.png)

[2017-07-21 09:01] krishnakongara opened #66 "UILongPressGestureRecognizer & UITapGestureRecognizer don't work just on iPhone 7"
The UILongPressGesture & UITapGestureRecognizer won't be triggered on Oxyplot (PlotView) in iPhone 7 (iOS 10.3.2) though it works on all other iOS devices and even on iPhone 7 simulator.

I also made sure it's not an issue of the touch duration or the state of touch.

It is observed that they work when the default PanZoomGestureRecognizer is removed from the PlotView but that will disable the pan

[2017-07-27 04:00] ukhimesra commented on #61
Does anyone has resolution for this problem?

[2017-08-19 16:45] Swerfer opened #67 "UWP plotview not showing until resizing"
In my case I have 2 situations:

1 My app is in landscape: The plotview is showing
2 My app is in portrait: Plotview not showing until resizing (on PC) or rotate to landscape and back on phone.

If I, as a workaround, could force a SizeChanged event firing without user interaction just after setting the plotview's model, then I think the plotview will show.

[2017-08-19 22:15] nvngogineni commented on #61
Still there is no resolution from OxyPlot Team. But I have temporally solved this issue by overlapping OxyPlotView with a transparent AbsoluteView. I am expect a solution from the OxyPlot Team.

[2017-08-31 08:11] erdmenchen commented on #61
@nvngogineni can you show a detailed example of your fix, please?

[2017-09-15 17:00] mahesh139 commented on #42
Hello @scastria
its old thread and i am sure its too late , but i was able to solve it with
PlotModel.InvalidatePlot(true); after setting isVisible to true.

[2017-09-15 17:23] mahesh139 opened #68 "Axis lines and series lines disappear when chart width goes beyond certain value"
Problem with  Oxyplot on Xamarin forms Android :

i have line chart in a scroll view  (With horizontal scroll). chart width is set using "WidthRequest" binding (MVVM) in xaml. i am updating width of the chart based on number of data points (e.g number of data points * 25)

following piece of code shows my chart binding:

`<ScrollView Orientation="Horizontal" HorizontalOptions="FillAndExpand">
   <

[2017-09-16 08:07] mawarnes commented on #64
I get this as well, does anyone have any ideas how to fix this

[2017-09-23 07:19] pulla2908 commented on #63
Is this issue now fixed? Any work around?

[2017-09-23 16:41] leedjones commented on #63
@pulla2908  not that I am aware of and no workaround either :(

[2017-09-26 19:38] pulla2908 commented on #63
@leedjones I am one step further!

First of all I got the solution from here: [Xamarin Formus](https://forums.xamarin.com/discussion/59144/oxyplot-pie-chart-not-showing-in-ios)

This is my setup:
<?xml version="1.0" encoding="utf-8" ?>
        <Grid>
            <Grid.RowDefinitions>
                <RowDefinition Height="50" />
                <RowDefinition Height="*" />
            </Grid.RowDe

[2017-10-08 08:53] pulla2908 commented on #63
In addition to RELEASE) The compiler does some optimization. Therefore some assemblies are missing. To fix this I did following:

[code]

Note: This is only necessary for RELEASE, but not for DEBUG.

[2017-10-10 10:23] skulshresthazc commented on #17
I am also facing the same issue what the work around for that. same as flyingxu commented on Jun 1

[2017-11-22 13:52] freerk92 opened #70 "TapGestureRecognizer not working for IOS"
I'm using OxyPlot.Xamarin.Forms 1.0.0, Xamarin.Forms 2.4.0.38779.
TapGestureRecognizer does work for Android, but it doesn't for IOS.
Also please update the documentation, it's severely lacking or I am looking in the wrong place, but there is nothing to find about e.g. HandleGesture

`                <oxy:PlotView  Model="{Binding PlotModel}" VerticalOptions="FillAndExpand" HorizontalOptions="Fill

[2017-11-23 10:27] freerk92 commented on #70
Fixed it by using InputTransparent and picking up the gesture on the scrollview which encompassed the Plotview

[2017-11-23 10:27] #70 closed, assigned to nobody

[2017-12-07 22:20] objorke commented on #65
The OxyPlot Xamarin releases are a bit behind. I have not been able to test these platforms myself lately. Need more contributors/testers on all these platforms...

[2017-12-07 22:38] dimitrijevic commented on #54
Is this still an issue, sorry I was not around much, I'll take another look at it soon...

[2017-12-07 22:43] objorke commented on #54
I have not checked this since I created the issue.

[2017-12-08 23:02] dimitrijevic commented on #54
Tried it today, still failing, obviously :) though error is different, also is issue #65 related?
I was wondering about .NET standard support and would it be viable soon given SkiaSharp isn't used...
Or am I mistaken about that maybe?

[2018-01-02 18:14] HenryHatten opened #71 "OxyPlot.Xamarin.Forms support for MacOS"
Xamarin.Forms now runs also on Macs, but there does not seem to be any support for this in OxyPlot.Xamarin.Forms, and no way to initialise the renderer. Is there any chance that this will be get updated/implemented?

[2018-01-21 21:30] scastria commented on #17
I found an easy way to reproduce this issue if needed.  Just run the iOS ExampleBrowser and navigate to an example, go back, and then navigate to the SAME example again.  Crash!

[2018-01-21 22:01] scastria commented on #62
I also had the same problem.  I debugged the ExampleBrowser running on iOS and I tracked the problem down to 2 issues with OxyPlot.Core.

Number 1

The constructor for PlotController installs 2 TouchDown bindings, the first is for handling Pan/Zoom and the second is for handling a tracker.  Well, in the constructor, you will see multiple items being bound to the same event, however, those allow mu

[2018-03-07 14:08] oleksiizapara commented on #64
I got the same issue on Android. Graph Preview is working on the LiveXAML previewer. Maybe it will help you too.

[2018-03-27 11:02] anandjitbanerjee opened #72 "Add string values to data point in line series."
I need to add string  values as data points.There should be an Annotations property for Line Series but I don't see anything.

[2018-03-27 12:09] Dunkhan commented on #72
You add annotations directly to the plotmodel
`model.Annotations.Add(new TextAnnotation { Position = new DataPoint(-6, 2), Text = "Text annotation 1" });`

[2018-03-30 05:00] cbagpipe commented on #20
confirmed on
Oxyplot.Xamarin.Forms 1.0.0
Xamarin.Forms 2.5.0.280555
Android 7.1.2 (Xiaomi Redmi 4A)

IntervalBarSeriesItem disappears too

[2018-04-26 17:41] onelloyd commented on #67
Hi Did you figure out a work around for this issue?

[2018-04-26 18:53] Swerfer commented on #67
No, and I also stopped developing my app so I don't use oxyplot anymore.

[2018-05-08 13:57] rapmue commented on #62
@scastria I came across the same issues with Windows.Forms. But I also noticed, that Number 2 is fixed with https://github.com/oxyplot/oxyplot/issues/1184

Currently, I'm working on a fix for Number 1. As soon as I got my pull request ready, I'll attach it here.

[2018-07-03 15:36] swasti29 commented on #23
Any update on this ?

[2018-07-04 22:55] dsyme commented on #65
@objorke I've started using this library as an extension for https://fsprojects.github.io/Elmish.XamarinForms/ and have Mac, Android, iOS and Windows devices in my office, I may be able to help test here.

Ping me if needed

[2018-07-19 08:54] objorke opened #74 "Remove WP8 project"
This platform is deprecated
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/windows/

[2018-07-19 08:55] objorke opened #75 "Update project files"
- update to netstandard2.0 where possible
- use SDK style project format with packagereferences where possible

[2018-07-19 08:56] objorke opened #76 "Update PlotView to use Device.RuntimePlatform"
Fix build warning
See #73

[2018-07-19 08:57] objorke opened #77 "Support Xamarin Forms Design Mode"
Change the Xamarin Forms Init condition to include check for DesignMode. This enables Forms Preview to run without encountering an exception.

See #73

[2018-07-19 08:57] objorke opened #78 "Update to Xamarin.Forms 4.0"
https://www.nuget.org/packages/Xamarin.Forms

See #73

[2018-07-23 08:45] objorke opened #80 "Enable CI build"
Enable the CI build again

[2018-07-23 21:19] chaselal commented on #32
@pkoscierzynski You need to add an NSTrackingArea to the PlotView with NSView.AddTrackingArea. Something like:

[code]

[2018-07-23 21:27] chaselal opened #81 "(Mac) PlotModel mouse event args' Position is relative to the window, instead of the PlotView"
I don't have a repro project.

On WPF, PlotModel mouse events like PlotModel.MouseEnter, PlotModel.MouseLeave, and PlotModel.MouseDelta are given OxyMouseEventArgs with Position relative to the PlotView. The same is true on iOS and Android.

On Mac, the same events' args are given Positions relative to the window.

The difference in behavior makes it harder to observe mouse events in a platform-ag

[2018-07-23 21:38] chaselal commented on #81
I believe a fix would involve following the instructions in the [`locationInWindow` documentation](https://developer.apple.com/documentation/appkit/nsevent/1529068-locationinwindow?language=objc):

Oxyplot would need to do something like

[code]

This should be done whenever OxyPlot translates from an AppKit mouse event to an OxyPlot ScreenPoint.

E.g. https://github.com/oxyplot/oxyplot-xamarin/bl

[2018-07-31 19:42] chaselal commented on #81
I fixed this in TrainerRoad's fork for Xamarin.Mac. IIRC there's an OxyPlot.MonoMac or something that needs the same changes. I can make a PR later. Here's the fix in our fork https://github.com/trainerroad/oxyplot-xamarin/commit/6581f652150d25c0a8f1fa984b861f1dc1415e1c

[2018-08-13 13:33] LakMoore commented on #17
If you set the parent View of your OxyPlot to a DataTemplate that creates a new OxyPlot each time then the OxyPlot cannot be cached.  A new PlotModel and PlotView is created each time and this error is avoided (at least that seems to work for me, I am using CarouselView)

[2018-08-13 13:41] LakMoore commented on #60
As @flyingxu said, you need to create a new PlotModel every time a new PlotView is used.  Easiest way to achieve that is to construct the PlotModel within the same constructor as your PlotView.  When using this within a CarouselView, ensure that you use a DataTemplate and not a direct reference to the View.  The DataTemplate should be constructed to ensure that a new version is created every time

[2018-09-18 09:04] hannesganthaler85 commented on #61
The bug still exists. What I did is I overlapped the graph view with a transparent UIView with same width and height to enable scrolling. But I think user interaction with the graph is not possible anymore (like scrolling or selecting graph points) but I do not need this.

[2018-10-08 08:59] Anax7 commented on #62
Hello! Is there an update on this issue? I'm using OxyPlot.Core and OxyPlot.Xamarin.Android NuGets which are re-installed on 5/10/2018. I can't zoom the graphs using code. Touch zoom works properly.

[2018-10-17 09:31] Mikilll94 opened #82 "Support for .NETStandard 2.0"
I am getting the following two warnings:

`Package 'OxyPlot.Core 1.0.0' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETStandard,Version=v2.0'. This package may not be fully compatible with your project.	`

`Package 'OxyPlot.Xamarin.Forms 1.0.0' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETStandard,Ver

[2018-11-14 15:04] ArgusMagnus commented on #59
Also, is there a way to use it in a Xamarin.Android Project?

[2018-11-15 09:35] Mikilll94 opened #83 "Tracker on Xamarin.Forms"
Are there any examples of displaying trackers on plots in Xamarin.Forms?

[2018-11-15 11:39] objorke commented on #83
I don't think this has been implemented for iOS and Android yet, see #26

[2018-11-15 11:39] objorke commented on #83
I don't think this has been implemented for iOS and Android yet, see #26

[2018-11-15 11:40] objorke commented on #59
I don't think this has been implemented for iOS and Android yet, see #26

[2018-11-15 11:40] objorke commented on #83
See also #59

[2018-11-15 14:13] Mikilll94 commented on #83
Will this be implemented in the future?

[2018-11-16 17:02] Huii commented on #64
I have the same problem with my Android project. The app works fine on my device but unfortunately, the XAML Designer is broken and doesn't show any content while only returning the error message stated above.

[2018-11-24 17:14] objorke opened #84 "Stop publishing NuGet packages"
1. Keeping the OxyPlot Xamarin NuGet packages up-to-date requires frequent updates (due to the Xamarin dependencies)
2. To create stable package releases, we should test on all the supported platforms

This is a lot of work and quite time consuming. An alternative could be to recommend everyone using this library to build it themselves, e.g. include the source code in their project as a git submod

[2018-11-26 10:12] hamsternik opened #85 "OxyPlot.Xamarin.Mac: don't have a mac nuget package to install from VS 2017"
OxyPlot already supports Xamarin.Mac platform. oxyplot-xamarin/Sources contains `OxyPlot.Xamarin.Mac` folder, at oxyplot-xamarin/Sources/Examples there also contains a Xamarin.Mac example and so on.

But looking at the `appveyor.yml` I don't see NuGet packing for Xamarin.Mac, as it exists for iOS/Android/Xamarin.Forms in `after_build` phase.

So, as a result, when I try to add a new NuGet package

[2018-11-26 10:31] ganeshbahirat opened #86 "X axis points are not aligned with LineSeries points"
I'm using Oxyplot library in my Xamarin forms project to display line graph in Android & iOS apps.

**X axis points are not aligned with LineSeries points.**

![image](https://user-images.githubusercontent.com/459182/49008654-5cd95180-f194-11e8-8897-7bc195107113.png)

[2018-11-28 08:26] jsanalytics commented on #86
It may or may not work, it's up to you to set it up correctly.
![pic025](https://user-images.githubusercontent.com/15644504/49138518-572b5b00-f2bd-11e8-8ead-8f7c8748c335.png)

[2018-11-28 11:38] ytdaemon opened #87 "charts was not updated according real time websocket data"
I used oxyplot in a mvvm app and it received message via websocket from an backend server. In the message received event, I called a viewmodel method to add the new data to the series, then call plotmodel.InvalidatePlot(true) to refresh chart.But the chart did not refresh until I click on it. I added a button on the XAML page, can do the samething in button click handler function, the chart was re

[2018-12-02 09:14] ganeshbahirat commented on #86
I set it as documented but unfortunately its not working.

[2019-02-26 14:52] xiaoyhe commented on #82
still not supported...

[2019-03-18 16:03] AloysiusParedes commented on #63
Is there a way to fix this in the current stable version? I am getting the exact same thing (Building for UWP with Xamarin.Forms)

[2019-03-28 09:24] puneetk207 commented on #23
Any update on this touch events?

[2019-03-28 09:29] puneetk207 commented on #23
Or any workaround to do this?

[2019-06-08 21:55] saadsaifse commented on #82
Is there any update in this regard? I am still getting errors

[code]

[2019-06-08 22:07] Mikilll94 opened #88 "Is this project dead?"
Is anybody maintaining this Github repository?

[2019-06-11 20:58] objorke commented on #88
I am following the issue notifications, and will try to approve/give comments on pull requests. Sorry, I don't have much time myself to contribute at the moment.

Please contribute with good quality pull requests to move this forward!

[2019-06-11 20:59] objorke commented on #88
So, I would say the answer is no. The project is just sleeping / waiting for contributions :-)

[2019-06-11 20:59] #88 closed, assigned to nobody

[2019-06-11 21:00] objorke commented on #87
The bug description should contain which platform this occurs on - is it Xamarin Forms? Android? iOS?

[2019-06-11 21:02] objorke commented on #86
What are the x-coordinates of the points of the `LineSeries`?

[2019-06-11 21:05] objorke commented on #82
I have not checked this with Xamarin recently.
OxyPlot Core is currently targetting .NET Standard 1.0
https://github.com/oxyplot/oxyplot/blob/develop/Source/OxyPlot/OxyPlot.csproj#L4
I think we should get a new stable release of OxyPlot.Core, then update OxyPlot.Xamarin.Forms

[2019-06-11 21:05] objorke commented on #81
Please make a PR!

[2019-06-11 21:08] objorke commented on #75
Do the Xamarin projects support this now?

[2019-06-11 21:10] #72 closed, assigned to nobody

[2019-06-11 21:11] #77 closed, assigned to nobody

[2019-06-11 21:11] #76 closed, assigned to nobody

[2019-06-12 03:19] chaselal commented on #81
I made a pull request. I don't have time to test it right now.

[2019-06-15 04:39] #81 closed, assigned to nobody

[2019-07-08 10:45] Nandulucky commented on #13
When Im adding OxyPlot.Xamarin.iOS nuget package but I got an error like below

How can I resolve this issue.
VisualStudio version: 7.4.2(build 12)

Thanks

[2019-07-30 12:34] markbangert commented on #63
I have exactly the same issue with UWP - the graph displays upon resizing... :(

Anybody got some more input how to resolve this?

[2019-07-31 10:29] SFSteve opened #90 "PlotModel TitleFont property seems to be ignored"
When setting a TitleFont value, the rendered PlotView doesn't appear to take it into account, and the default font is used instead.
This occurs on Xamarin Forms 4.0.0.425677 when building for Android.

[2019-08-02 08:21] SFSteve opened #91 "MajorGridlineStyle is ignored and always drawn as Solid"
### Steps to reproduce

1. Create a plotview and add a bottom axis
2. Set the MajorGridlineStyle to anything other than solid or none
3. Run

Platform: Xamarin forms
.NET version: standard 2.0

### Expected behaviour

The grid lines between the values should be dotted

### Actual behaviour

The lines are solid
![image](https://user-images.githubusercontent.com/24298678/62139337-0d2dc580-b2e1-11e9-

[2019-08-08 19:21] jemmasters commented on #83
@Mikilll94 , I been asking myself the same question.

[2019-08-24 05:44] wangguan1888 opened #93 "Oxyplot Graph dont display on UWP release mode"
I created a xamarin forms project which is using oxyplot xamarin forms.
The graph shows on uwp debug mode, but not on uwp release mode.

OxyPlot.Xamarin.Forms : 1.1.0-unstable0011
Xamarin.Forms: 4.2.0.709249

I alse modified code refer to the following link, but not works on UWP release mode.
https://github.com/oxyplot/oxyplot-xamarin/pull/53/commits/21b152f8ea38975a80c5e4a82e401a1cf33780a2

Could

[2019-08-27 06:00] wangguan1888 commented on #93
I solved this problem. The reason why oxyplot graph not display in my code is that I am using Rg.Plugins.Popup and Oxyplot. Xamarin.Forms.Forms.Init is different between that two NuGet Package.
For Rg.Plugins.Popup, I am using this code "Xamarin.Forms.Forms.Init(e, Rg.Plugins.Popup.Popup.GetExtraAssemblies());".
So I modified List<Assembly> assembliesToInclude = new List<Assembly>(); to List<Assem

[2019-08-27 06:00] #93 closed, assigned to nobody

[2019-09-11 07:59] bluekuen commented on #82
@objorke That would be great. :)

[2019-10-15 19:51] olivercortinas opened #94 "Xamarin.Forms export graphics charts to image"
There is a way on Xamarin.Forms to export the charts to PNG or any other image format for all the platforms?

[2019-10-20 18:25] objorke opened #95 "Vertical panning not working"
Panning vertically is reversed on OxyPlot.Xamarin.Mac views

[2019-10-20 19:14] #95 closed, assigned to objorke

[2019-10-20 19:17] objorke commented on #87
Closing inactive issues.

[2019-10-20 19:17] #87 closed, assigned to nobody

[2019-10-20 19:17] objorke commented on #85
Try `v2.0.0-preview0001`

[2019-10-20 19:17] #85 closed, assigned to nobody

[2019-10-20 19:18] objorke commented on #86
Closing inactive issues.

[2019-10-20 19:18] #86 closed, assigned to nobody

[2019-10-20 19:21] objorke commented on #59
Duplicate for #26

[2019-10-20 19:21] #59 closed, assigned to nobody

[2019-10-20 19:22] objorke commented on #80
I suggest to look at https://appcenter.ms/

[2019-10-20 19:24] #74 closed, assigned to nobody

[2019-10-20 19:26] objorke commented on #67
Duplicate of #34

[2019-10-20 19:26] #67 closed, assigned to nobody

[2019-10-20 19:28] objorke commented on #65
See NuGet package `v2.0.0-previes0001`. Hopefully we can publish a stable version soon.

[2019-10-20 19:28] #65 closed, assigned to nobody

[2019-11-18 11:51] gabrielgriesser commented on #82
Still no news ?

I'm working on a Xamarin.Forms project (only on Android) and realllllly need a stackedbar chart. Only OxyPlot has a free one, but this package doesn't support .NET Standard 2.0 :-(

[2019-11-27 13:21] akamud opened #98 "Plot Area Border is always visible on Android"
I'm setting `PlotAreaBorderThickness` to `0` on a Xamarin.Forms project, on iOS it renders as expected, with no borders, but on Android it renders the border no matter what I do.

Android screenshot:
![image](https://user-images.githubusercontent.com/954102/69726573-9aeab780-10ff-11ea-9de6-700d5eca5fc0.png)

[2019-11-27 15:12] dsyme commented on #78
@objorke It would be fantastic to see this project reach reach 2.0.0 status.  Is there any chance you could post an issue detailing where we're at with that and how people like myself might be able to help?

Thanks!
don

[2019-11-28 19:50] objorke commented on #78
Hi Don! I agree it would be great to achieve the 2.0 release! I will update the milestone https://github.com/oxyplot/oxyplot-xamarin/milestone/2 to include the issues I think should be addressed.

[2019-11-28 19:51] objorke commented on #78
The project has been updated to 4.3.0
https://github.com/oxyplot/oxyplot-xamarin/blob/develop/Source/OxyPlot.Xamarin.Forms/OxyPlot.Xamarin.Forms.csproj#L20

[2019-11-28 19:51] #78 closed, assigned to nobody

[2019-11-28 19:52] objorke commented on #82
Need help to solve this!

[2019-11-28 19:55] objorke commented on #75
The Xamarin.Forms projects have been updated
https://github.com/oxyplot/oxyplot-xamarin/blob/develop/Source/OxyPlot.Xamarin.Forms/OxyPlot.Xamarin.Forms.csproj

Android, iOS and Mac projects are not updated.

[2019-11-28 19:55] #75 closed, assigned to nobody

[2019-11-28 19:56] objorke commented on #94
The OxyPlot.ImageSharp should be able to do this (it is .NET Standard 2.0)
https://github.com/oxyplot/oxyplot/tree/develop/Source/OxyPlot.ImageSharp

[2019-11-28 19:56] #94 closed, assigned to nobody

[2019-11-28 19:57] dsyme commented on #82
It looks like this is done for the core assembly - do the others need to be netstandard2.0 as well? https://github.com/oxyplot/oxyplot-xamarin/blob/develop/Source/OxyPlot.Xamarin.Forms/OxyPlot.Xamarin.Forms.csproj#L4

[2019-11-28 19:58] objorke commented on #71
This should now be supported

[2019-11-28 19:58] #71 closed, assigned to nobody

[2019-11-28 19:59] dsyme commented on #71
Fantastic!

[2019-11-28 20:04] #49 closed, assigned to objorke

[2019-11-28 20:04] objorke commented on #45
This should be possible using OxyPlot.ImageSharp (.NET Standard 2.0)

[2019-11-28 20:04] #45 closed, assigned to nobody

[2019-11-28 20:05] objorke commented on #44
Will close this since OxyPlot.Mobile is outdated

[2019-11-28 20:05] #44 closed, assigned to nobody

[2019-11-28 20:08] objorke commented on #43
I suggest including oxyplot-xamarin as a git submodule instead. This should make it easier to debug issues like this. See #84

[2019-11-28 20:08] objorke commented on #43
Closed due to inactivity

[2019-11-28 20:08] #43 closed, assigned to nobody

[2019-11-28 20:11] #3 closed, assigned to nobody

[2019-12-03 21:25] olivercortinas opened #99 "Several issues using OxyPlot.ImageSharp to export model to PNG"
I am using the code provided here:
https://github.com/oxyplot/oxyplot/tree/develop/Source/OxyPlot.ImageSharp
to export chart model to PNG, i try several examples i have and allways get some errors, i will try to upload them all.
I  have this XAML for a pie chart:
[code]

Then in the .cs i have this code when button is pressed:
[code]

And create the pie chart content here:
[code]
When i run on And

[2019-12-03 21:48] objorke commented on #99
Should it be possible to specify the fallback font family? Then I think this is an issue for OxyPlot.ImageSharp and not oxyplot-xamarin

Did you try using "Droid Sans"?

https://forums.xamarin.com/discussion/33744/fontfamily-is-there-a-list-of-families-that-work-across-platforms

[2019-12-04 16:53] olivercortinas commented on #99
I try it and didn't work, i change the code:
`static readonly string FallbackFontFamily = "Arial";`
for this one:
`static readonly string FallbackFontFamily = GetFontPlatform();`
with:
`        private static string GetFontPlatform()
        {
            string font;
            switch (Device.RuntimePlatform)
            {
                case Device.iOS:
                    font = "MarkerFelt-T

[2019-12-06 02:21] olivercortinas commented on #99
This issue is with SixLabors.Fonts.SystemFonts has an empty Families value, what could be the issue related to that?
Just to be more clear, this is happening only when i test it on Android.

[2019-12-16 23:21] olivercortinas opened #100 "Package OxyPlot.Xamarin.Forms 1.0.0 is not compatible with xamarinmac20"
I was trying to install OXYPLOT.XAMARIN.FORMS by nuget to a Xamarin.Forms project and get this exception:

Package OxyPlot.Xamarin.Forms 1.0.0 is not compatible with xamarinmac20 (Xamarin.Mac,Version=v2.0) / win-x64. Package OxyPlot.Xamarin.Forms 1.0.0 supports:
  - monoandroid10 (MonoAndroid,Version=v1.0)
  - portable-monoandroid10+net45+win+win81+wp8+wpa81+xamarinios10 (.NETPortable,Version=v0.0

[2020-01-09 21:42] objorke commented on #100
I think we release a pre-release package that works with more recent versions of Xamarin.
I recommend including the OxyPlot Xamarin as a git submodule/subtree and building these projects yourself from the latest source code.

[2020-01-15 09:05] Setomba commented on #62
Hello
Is there an update or an ETA on this topic? I am using Oxyplot for Xamarin.Forms and not being able to zoom or pan the charts is unfortunately a breaking issue for me.

[2020-02-26 19:54] objorke commented on #62
I don´t know the status on this issue. We depend on contributions to get this fixed!
(I recommend to include oxyplot-xamarin as source code (e.g. by using git submodule), not as nuget package, to make sure you get the latest version)

[2020-03-13 11:09] Dodda commented on #23
Hi @objorke any update on this can we have touch/click events on the marker points instead of on entire series or plot ? Xamarin.iOS
@swasti29 @puneetk207 Hi any luck ?

[2020-03-16 13:09] Dodda opened #101 "No Touch/Click event for series marker points - Xamarin.iOS"

[2020-04-06 14:50] prabakaranr opened #102 "Outdated nuget package"
Hi,

Thank you for such an excellent work. This really saves a lot of valuable time for Xamarin developers.

The latest [nuget package](https://www.nuget.org/packages/OxyPlot.Xamarin.Forms) was released on 1/8/2017, but does not include recent changes added in source. Could we expect a new release of nuget package with the latest source changes, or do we have to compile the source and use the asse

[2020-04-21 10:26] Auto72 opened #103 "OxyPlot.Xamarin.Forms NuGet Package Issue"
When you install the OxyPlot.Xamarin.Forms in your project, you get the following Warning NU1701:

Package 'OxyPlot.Xamarin.Forms 1.1.0-unstable0011' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework '.NETStandard,

[2020-04-22 12:35] objorke commented on #100
See #84

[2020-04-22 12:35] objorke commented on #102
See #84

[2020-04-22 12:35] objorke commented on #103
See #84

[2020-04-22 12:42] Auto72 commented on #103
I tried to include the source code in my project. Thanks.

[2020-04-22 13:06] dsyme commented on #84
If it is a lot of work and time consuming, why not ask to bring on extra maintainers to this project and also automate the process?

This package is a great package! and deserves a nuget, like most other packages....

[2020-04-22 13:55] #103 closed, assigned to nobody

[2020-04-22 14:03] objorke commented on #84
Yes, with more maintainers we could avoid this. It seems like we need some people to support each major platform. The Xamarin platform is extra challenging to automate on CI and requires Apple hardware for testing (MacOS, iOS).

[2020-05-20 01:37] cesarau41 commented on #2
Thanks to @MattWhilden  and @objorke !! You guys are life savers!! The workaround worked like a charm.

[2020-06-09 14:53] vikas2345 commented on #83
Hi All,
Is there any update for displaying trackers on Xamarin.Forms plots. I am checking this thread for quite along.

[2020-06-17 14:34] ekrogh commented on #71
I have installed OxyPlot.Xamarin.Mac (2.0.Q-preview0001) in the .macOS project, but when I try to install OxyPlot.Xamarin.Forms to the ,macOS project I get the error messages
"
Retrieving package 'OxyPlot.Xamarin.Forms 1.1.0-unstable0011' from 'nuget.org'.
For adding package 'OxyPlot.Xamarin.Forms.1.1.0-unstable0011' to project 'oxyPlotTst.macOS' that targets 'xamarinmac20'.
Install failed. Rollin

[2020-06-17 14:43] ekrogh opened #104 "OxyPlot.Xamarin.Forms can't install in .macOS project"
I have installed OxyPlot.Xamarin.Mac (2.0.Q-preview0001) in the .macOS project, but when I try to install OxyPlot.Xamarin.Forms to the ,macOS project I get the error messages
[code]
How do I solve that problem ?
-- Eigil

[2020-06-29 06:21] PavaniTatikonda27 opened #105 "Can we add gradient color to the area series fill color in oxyplot"
### Steps to reproduce

1. Trying to add gradient color to the area series using Oxyplot in xamarin forms.

Platform: Xamarin Forms

### Expected behaviour

Need to show gradient color in the area series.

Need to achieve the below View :

<img width="298" alt="Screenshot 2020-06-26 at 7 53 12 AM" src="https://user-images.githubusercontent.com/54882172/85978284-0aa98380-b9fc-11ea-8b2c-4d520c3a5d4f

[2020-06-29 06:24] VisualMelon commented on #105
Thank you for the clear example images. This is presently not support in the library.

It would be possible to implement such support, but historically OxyPlot has tended to avoid features that don't directly related to plot interpretability, and I don't think gradients are considered a good way to communicate information (e.g. what can the gradient tell you that the line doesn't already?). Obviou

[2020-06-29 06:39] PavaniTatikonda27 commented on #105
We are trying to achieve the fill area of the area series with a gradient color instead of solid color as it is more visually pleasing rather than solid colors, other than that it doesn't tell anything more.

Could we make any tweaks to achieve the above look ?

Any suggestions are welcome and thanks for the comment @VisualMelon

[2020-06-29 07:13] VisualMelon commented on #105
I'm afraid I can't really suggest anything apart from partially implementing the feature and shipping your own copy of the library with big changes.

To implement this properly, brush types would need to be defined, the `fill` parameters and members everywhere would need to be replaced, and the appropriate render contexts would need to be modified. This could probably be done in a way that doesn't

[2020-07-01 12:54] SwathiAdari27 opened #106 "Left and Right most datapoints are clipping in lineseries"
I have tried with **minimumPadding** property on graph, but it only works when we don't add **minimum** and **maximum** property.

Can we add padding along with minimum and Maximum values to the graph??

Could anyone let us know if it is possible. any suggestions are very much helpful.

[2020-07-01 13:00] VisualMelon commented on #106
This is not presently possible. I've been thinking about this for a looong time, and finally wrote something about it in https://github.com/oxyplot/oxyplot/issues/1569.

[2020-07-23 11:26] xroot3 opened #107 "How to add points in a LineSeries dynamically"
I try to add points in a LineSeries dynamically In a System.Timer，but it can not refresh real time ，what can I do to solve it?

[2020-07-23 11:48] VisualMelon commented on #107
The library doesn't do any automatic refreshing (e.g. when you add/change datapoints): you need to call `PlotModel.Invalidate(true)` when you change data. This forces the series to update, and should cause the UI to refresh at its next convenience.

[2020-07-24 01:24] xroot3 commented on #107
Thank you very much,I can draw it dynamically success!!!

[2020-07-24 06:05] #107 closed, assigned to nobody

[2020-08-03 16:15] parameshgolla opened #108 "Package OxyPlot.Xamarin.Android 1.0.0 compatible with netstandard2.0 (.NETStandard,Version=v2.0)"
Hi,
My Xamarin APP is based on .NET2.0 and trying to use Oxyplot for charting. But, it complains compatiblity issue. please provide support for .net 2.0.
Issue: Package OxyPlot.Xamarin.Android 1.0.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0)

[2020-08-04 08:14] objorke commented on #108
See #84. The NuGet package is outdated, I suggest to include the component as a git submodule and build it with your app!

[2020-08-04 08:17] objorke commented on #104
The NuGet packages are outdated, see #84.
I suggest to use git submodules and include the Xamarin.Mac project in your solution!

[2020-08-04 08:28] objorke commented on #105
@VisualMelon
Yes, OxyPlot is opinionated and has been trying to follow the style and design principles of Edward Tufte, Stephen Few et al.
https://oxyplot.readthedocs.io/en/latest/guidelines/design.html
I don't think gradients should be implemented in this library!

[2020-08-04 08:31] objorke commented on #106
This should be implemented in oxyplot core: oxyplot/oxyplot#1569

[2020-08-04 08:31] #106 closed, assigned to nobody

[2020-08-04 08:32] #105 closed, assigned to nobody

[2020-08-04 08:40] parameshgolla commented on #108
how do I include  OxyPlot.Xamarin.Android as a git submodule to my Xamarin Android APP. Any leads please..

[2020-08-04 08:43] VisualMelon commented on #105
@objorke thanks for the link: somehow I couldn't find that document (I knew it existed) when I was writing the other comments.

[2020-08-04 08:50] objorke commented on #108
This assumes that you are using git in your project:
[code]
Then include the C# projects you need in your solution.

[2020-08-04 08:53] parameshgolla commented on #108
Thank u for the quick response. Will try it out. But, It would be good to have updated OxyPlot.Xamarin.Forms.Android Nuget package supporting .net 2.0

[2020-09-10 10:18] myllen commented on #42
I have the same issue on iOS. Android and UWP do this fine.
I'm also setting the parent view visible and then I render the chart. Result: nothing happens.
Invalidating the plot doesn't do anything as well in this case.
Any solutions?

[2020-10-20 11:12] gtrafford opened #109 "Custom fonts do not work"
I can only say with certainty that they don't work for Android as I haven't been able to test on anything else. I followed the instructions [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/text/fonts) and while that did get the custom font to work for pretty much everything (labels, entry boxes, etc) it wouldn't work for Oxyplot no matter what FontFamily property I set.

[2020-11-16 04:54] SwathiAdari27 opened #111 "Negative values are not potting"
I have negative linear series(y-axis) which is rendered on graph., even though I have negative values those are not plotting on negative y-axis.

are they any ways to plot negative values on negative (y-axis) ?

[2020-11-16 09:03] VisualMelon commented on #111
Could you elaborate on your scenario? I don't understand what you mean by a negative axis. If you can provide code or a visual mock-up, that would be most helpful.

Note that each series only plots on 1 pair of X/Y axes (you can't have separate axes for positive and negative Y values: you would need a separate series).

[2020-11-16 10:20] SwathiAdari27 commented on #111
on y-axis I have both negative and positive numbers (e.g y-axis range is -10 to +10)., even though i have datapoints at negative y-axis its not potting on graph

![image](https://user-images.githubusercontent.com/49482225/99240970-3bf7e400-2823-11eb-9c61-5b451c0f9ea7.png)

the above is graph with negative and positive values on y-axis., the positive values are potting at y-axis but negative values

[2020-11-16 10:27] VisualMelon commented on #111
Can you provide your code/some reproducing example? It doesn't look like a filtering/multiple-axis/rendering issue (unless there are NaN values in the points?)

Could you also let us know which platform and version you are using (e.g. OxyPlot.WindowsForms v2.0.0)

[2020-11-16 11:22] SwathiAdari27 commented on #111
_model.Axes.Add(new LinearAxis
            {
                Position = AxisPosition.Left,
                Minimum = min,
                Maximum = max,
                AbsoluteMinimum = absMin,
                AbsoluteMaximum = absMax,
                MajorStep = step,
                MajorGridlineStyle = LineStyle.Solid,
                MinorTickSize = 0,
                MajorTickSize = 0,

[2020-11-16 11:50] VisualMelon commented on #111
I'm not able to repro this on Winforms (I'm not set up to test Xamarin), and can't recall any bugs like this in the past. Could you confirm which version of Oxyplot you are using?

What is the `Add` method doing? Can you check that the line series' `Points` collection is correctly populated, or that `ActualPoints` (protected property) is populated if you are using an `ItemSource`.

[2020-11-16 15:09] SwathiAdari27 commented on #111
about version  - added as a library not as an dll

**add** method adds lineseries to plot.
not using any ItemSource property to override previous values

[2020-11-20 10:39] PavaniTatikonda27 commented on #61
Any update on this issue? Do we have any fix. We are also having interactions in graphs.

[2020-11-25 11:45] PavaniTatikonda27 commented on #61
I fixed this issue by removing the pan zoom Gesture in iOS.

[2021-02-03 17:04] edwwsw opened #112 "System.NullReferenceException in OxyPlot.dll!OxyPlot.PlotElementUtilities.GetClippingRect after upgrading to 2.1.0-unstable.1455"
Upgraded from an unstable 2.1 build from a year ago.   One of the applications that uses OxyPlot crashes now (worked before).  I haven't completely isolated the issue, but I believe the cause is related to adding annotations before the OxyPlot grid is first rendered.  Call stack below.

OxyPlot.dll!OxyPlot.PlotElementUtilities.GetClippingRect(OxyPlot.IXyAxisPlotElement element)	Unknown
 	OxyPlot.d

[2021-03-12 15:53] Enigma86d opened #113 "AreaSeries disapears when zomming in"
Steps to reproduce
1. Create a Xamarin forms project targeting at least UWP.
2. Create a PlotModel and an AreaSeries with a fill color and add certain points
3. Add the AreaSeries to the PlotModel and run the app in Windows.

Details:
Visual Studio 2019 Version 16.5.1
.NET standard 2.0 (I was not able to make it run using 2.1)
Nuget:
Xamarin.Forms v5.0.0.2012 (latest)
Xamarin.Essentials v1.6.1
Oxy

[2021-03-19 10:28] chaoyebugao commented on #61
Any progress on this issue?

[2021-11-11 09:30] Kistelekig98 commented on #61
I still have the issue in Xamarin.iOS. It is quite sad, that we cant scroll when using PlotView since 2017.

[2021-12-19 22:15] yoann-arseneau opened #120 "Bad interaction between OxyPlot and Dialogs"
Hi, I encountered an issue where an PlotView will be blank when shown in a MaterialDesignThemes.Wpf.DialogHost's DialogContent. Any insight into what might be causing this interaction would be appreciated.

I illustrate the issue in [this repo](https://github.com/yoann-arseneau/OxyDialogTest/tree/master).

[2021-12-20 03:18] yoann-arseneau commented on #120
External sources have identified the issue as [this one](https://github.com/oxyplot/oxyplot/issues/1796).

[2021-12-20 03:18] #120 closed, assigned to nobody

[2022-01-11 06:00] SandeepChorge opened #121 "Getting this issue while creating a release build in xamarin application, Mono.Linker.MarkException: Error processing method: 'System.Void OxyPlot.Xamarin.Android.PlotView::OnDraw(Android.Graphics.Canvas)' in assembly: 'OxyPlot.Xamarin.Android.dll'"
Hii, I am using Oxyplot.core 1.0.0 ![image](https://user-images.githubusercontent.com/32536723/148889168-dd7dc4e3-187f-4fb4-b016-263ee141b64f.png)

and currently facing issue while creating a release build of the application, getting following error

Error		Mono.Linker.MarkException: Error processing method: 'System.Void OxyPlot.Xamarin.Android.PlotView::OnDraw(Android.Graphics.Canvas)' in assembl

[2022-01-11 09:14] VisualMelon commented on #121
The method doesn't exist in 2.1, and there is no OxyPlot.Xamarin targeting 2.1, so that won't be any help I'm afraid.

I don't know much about Xamarin, but some mindless googling suggests this may just be a tooling issue that may be resolved by cleaning the solution fully. Are you able to try building the project on a different machine?

[2022-01-12 03:34] SandeepChorge commented on #121
I tried cleaning and building the project it works just fine but at the time of Release APK creation it gives this error, and somehow my colleague does not get this issue on his System, I'll recheck again if there is any tooling issue

[2022-01-25 11:14] tomwimmenhove commented on #112
I'm having the same issue. In my case it happens when the element argument to GetClippingRect() is a LineSeries. It's fine when the LineSeries is instantiated at the same time with the plot, but it seems to crash whenever it's created at some later point in time. Haven't been able to find a work-around yet.

[2022-01-26 12:32] tomwimmenhove commented on #112
It seems like LineSeries.EnsureAxis() isn't always called, resulting in nullreference exceptions.

[2022-02-08 12:00] jona-1993 opened #122 ".net 6.0 IOS target"
Hello,

We would like migrate own project with .net 6 ios. But the package "OxyPlot.Xamarin.iOS" doesn't work.
We can't install de package.

NU1202: Package OxyPlot.Xamarin.iOS 1.1.0-unstable0011 is not compatible with net6.0-ios15.2 (.NETCoreApp,Version=v6.0). OxyPlot.Xamarin.iOS 1.1.0-unstable0011 package supports: xamarinios10 (Xamarin.iOS,Version=v1.0)

Is it possible to have a "net6.0-ios" ta

[2022-05-04 13:05] vitalii-vov opened #123 "PdfExporter not supported Cyrillic"
Hello.
I'm trying to generate a PDF document from a graph using the ```PdfExporter``` class.
[code]
One of the axes contains Cyrillic characters
[code]
Garbage is displayed instead of characters in the document
<img width="243" alt="Снимок экрана 2022-05-04 в 16 53 56" src="https://user-images.githubusercontent.com/71486507/166685841-544d1fed-326d-4ed9-b251-6714c3cde6fb.png">

I tried to solve thi

[2022-05-04 14:01] VisualMelon commented on #123
Which PDF exporter are you using? The one in the core library has poor unicode support, and it is generally better to use the one provided in `OxyPlot.SkiaSharp` which is a more complete implementation.

[2022-05-04 15:51] vitalii-vov commented on #123
I am using ```PdfRenderer``` included in ```OxyPlot.Xamarin.Forms```

If we use OxyPlot.SkiaSharp.PdfRenderer we will get an error:

[code]
This error occurs when the application starts, since the regular OxyPlot.Xamarin.Forms library is used to display graphs
I tried to do this before, but because of this error, nothing worked for me.

[2022-05-28 09:07] rifaia commented on #112
@tomwimmenhove , I do have the same problem. After adding new LineSeries, calling `InvalidatePlot(true)` seems to solve the problem in my case.

[2022-06-13 07:30] TrsGianni opened #124 "Mismatch version Oxyplot.Xamarin.Forms targetting Oxyplot.Core 2.0.0"
Hello,
I'm generating a model using Oxyplot.Core 2.1.0 in a seperate project and want to add this model to a view with WPF and Xamarin.Forms, there's no problem with WPF but but because of the mismatch in versions between Oxyplot.Xamarin and my project generating the model (Oxyplot.Xamarin targetting Oxyplot.Core 2.0.0) I'm getting the following error:

System.TypeLoadException
  Message=Type OxyP

[2022-11-12 15:16] janusw commented on #84
@objorke I could actually offer to act as a (co-)maintainer here and take care of building nupkgs (via CI). I have Apple hardware available and can do basic tests on all major platforms (Android, iOS, Mac, UWP).

I have managed to build a nuget package based on OxyPlot.Core version 2.0 already, which works very well on Android at least (on other platforms I get errors which probably need some mino

[2022-11-12 20:59] janusw commented on #84
see PR #125

[2022-11-13 18:17] objorke commented on #84
Hi @janusw! I am not active in this project at the moment, but will try to answer!

I see the release pace of Xamarin has slowed down, so it is hopefully easier to keep up with the latest versions now... https://www.nuget.org/packages/Xamarin.Forms#versions-body-tab

It sounds great if everything can be built on GitHub Actions, then we could add the publish step. Can it also include a step to sign

[2022-11-13 19:48] janusw commented on #84
Oh, not even in Oxyplot.Core? That's a shame. Thanks even more for your reply then ;)

Well, yeah, Xamarin.Forms is in the process of being replaced by Maui, so there will probably be no major releases any more, but only some minor bugfixes, I assume.

I have never done this, but in principle it should be possible, I guess.

Yeah, makes sense.

Although, in most other packages I'm involved in, the

[2022-11-13 20:24] VisualMelon commented on #84
I'm afraid I don't know anything about signing either, but we should be able to find examples on other projects. I also have increasingly little time for OxyPlot, unfortunately, but happy to help if possible (better @VisualMelon me though, because I don't generally watch this repo carefully)

I'm pretty oblivious to all matters Xamarin, but happy to publish packages when we're happy they're in sen

[2022-11-21 20:55] janusw opened #126 "UIKitThreadAccessException on iOS: you are calling a UIKit method that can only be invoked from the UI thread"
WIth the 2.0 beta nupkg from #125, I get the following exception on iOS:

[code]

Creating a PlotView with a PlotModel works fine, but updating the PlotView by setting a new PlotModel produces the error above, which did not occur with version 1.1.0-unstable0011 (from nuget.org).

It can easily be fixed on the application side by wrapping the assignment of the PlotModel into `Device.BeginInvokeOnMa